<!DOCTYPE html>
<html>
<head>
  <script src="js/face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/FileSaver.js"></script>
  <script src="js/dom-to-image.min.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <script src="js/imageSelectionControls.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <div id="navbar"></div>
  <div class="left-content page-container">

    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative" class="margin">
      <div id="widget" style="width: 500px; height: auto;">
        <div id="maskdiv" style="width: 500px; margin: auto;"></div>
        <img id="inputImg" src="" style="width: 500px; height: auto;" />
      </div>
      <!-- <canvas id="overlay" /> This used to be under inputImg-->

    <!-- Mask selection goes here -->
    <img src="images/wearafuckingmask-social-no-earloops-black-border.png" id="mask"
    onclick="changemask('images/wearafuckingmask-social-no-earloops-black-border.png');" style="width:10%;">
    <img src="images/wearafuckingmask-social-no-earloops-no-border.png" id="mask"
    onclick="changemask('images/wearafuckingmask-social-no-earloops-no-border.png');" style="width:10%;">
    <img src="images/wearafuckingmask-social-no-earloops-white-border.png" id="mask"
    onclick="changemask('images/wearafuckingmask-social-no-earloops-white-border.png');" style="width:10%;">
    <img src="images/afuckingmask-no-earloops-white.png" id="mask"
    onclick="changemask('images/afuckingmask-no-earloops-white.png');" style="width:10%;">
    <img src="images/afuckingmask-no-earloops-black.png" id="mask"
    onclick="changemask('images/afuckingmask-no-earloops-black.png');;" style="width:10%;">
    <!-- Mask selection goes here -->

    <div class="left-content">
      Paste a link to your photo or upload your image to put a #maskon.
      Choose from different masks.
      <p>
      <!-- image_selection_control -->
      <div class="row side-by-side" style="margin-left:0;">
        <label for="imgUrlInput">Get image from URL:</label>
        <input id="imgUrlInput" type="text" class="bold">
      <button
        class="waves-effect waves-light btn"
        onclick="loadImageFromUrl(); clearmask();"
      >Ok</button>
      <div id="selectList" style='visibility: hidden;'></div>
    </div>
      <p>
      <input id="queryImgUploadInput" type="file" class="waves-effect btn bold" onchange="loadImageFromUpload(); clearmask();" accept=".jpg, .jpeg, .png">
      <!-- image_selection_control -->
    </div>
    <p>
    <input type="button" id="btnSave" class="waves-effect waves-light btn" value="Save your #maskon photo" onclick="downloadmaskpic();"/>

    <div class="row side-by-side" style="visibility: hidden;">
      <!-- face_detector_selection_control -->
      <div id="face_detector_selection_control" class="row input-field" style="margin-right: 20px;">
        <select id="selectFaceDetector">
          <option value="ssd_mobilenetv1">SSD Mobilenet V1</option>
          <option value="tiny_face_detector">Tiny Face Detector</option>
        </select>
        <label>Select Face Detector</label>
      </div>
      <!-- face_detector_selection_control -->

      <!-- check boxes -->
      <div class="row" style="width: 220px;">
        <input type="checkbox" id="hideBoundingBoxesCheckbox" onchange="onChangeHideBoundingBoxes(event)" />
        <label for="hideBoundingBoxesCheckbox">Hide Bounding Boxes</label>
      </div>
      <!-- check boxes -->
    </div>


    <!-- ssd_mobilenetv1_controls -->
    <span id="ssd_mobilenetv1_controls" style="visibility: hidden;">
      <div class="row side-by-side">
        <div class="row">
          <label for="minConfidence">Min Confidence:</label>
          <input disabled value="0.5" id="minConfidence" type="text" class="bold">
        </div>
        <button
          class="waves-effect waves-light btn"
          onclick="onDecreaseMinConfidence(); clearmask();"
        >
          <i class="material-icons left">-</i>
        </button>
        <button
          class="waves-effect waves-light btn"
          onclick="onIncreaseMinConfidence(); clearmask();"
        >
          <i class="material-icons left">+</i>
        </button>
      </div>
    </span>
    <!-- ssd_mobilenetv1_controls -->

    <!-- tiny_face_detector_controls -->
    <span id="tiny_face_detector_controls">
      <div class="row side-by-side">
        <div class="row input-field" style="margin-right: 20px;">
          <select id="inputSize">
            <option value="" disabled selected>Input Size:</option>
            <option value="160">160 x 160</option>
            <option value="224">224 x 224</option>
            <option value="320">320 x 320</option>
            <option value="416">416 x 416</option>
            <option value="512">512 x 512</option>
            <option value="608">608 x 608</option>
          </select>
          <label>Input Size</label>
        </div>
        <div class="row">
          <label for="scoreThreshold">Score Threshold:</label>
          <input disabled value="0.5" id="scoreThreshold" type="text" class="bold">
        </div>
        <button
          class="waves-effect waves-light btn"
          onclick="onDecreaseScoreThreshold()"
        >
          <i class="material-icons left">-</i>
        </button>
        <button
          class="waves-effect waves-light btn"
          onclick="onIncreaseScoreThreshold()"
        >
          <i class="material-icons left">+</i>
        </button>
      </div>
    </span>
    <!-- tiny_face_detector_controls -->

    <div id="img-out"></div>
    <div class="left-content">
      <h3>Inspirations and references</h3>
      <ul style="list-style-type:disc;">
        <li>#WearAF—ingMask: https://wearafuckingmask.com/</li>
        <li>face-api.js: https://github.com/justadudewhohacks/face-api.js/</li>
        <li>spooky masks: https://github.com/jlengstorf/spooky-masks-facial-recognition</li>
      </ul>
    </div>
  </body>

  <script>
    let withBoxes = true

    function onChangeHideBoundingBoxes(e) {
      withBoxes = !$(e.target).prop('checked')
      updateResults()
    }

    async function updateResults() {
      if (!isFaceDetectionModelLoaded()) {
        return
      }

      const inputImgEl = $('#inputImg').get(0)
      const scale = inputImgEl.width / inputImgEl.naturalWidth
      const options = getFaceDetectorOptions()

      // Attempt to add handleImage
      const handleImage = (oldImage, newImage) => async () => {
        const results = await faceapi.detectAllFaces(newImage, options).withFaceLandmarks()
        // const detection = await faceapi
        //   .detectSingleFace(inputImgEl, new faceapi.TinyFaceDetectorOptions())
        //   .withFaceLandmarks(true)
        // console.log(results)
        for (let i in results) {
          const overlayValues = getOverlayValues(results[i])
          // console.log(overlayValues)
          // load mask
          const maskoverlay = document.createElement("img")
          maskoverlay.src = document.getElementById("mask").src
          maskoverlay.id = "maskon"
          maskoverlay.class = "maskon"
          maskoverlay.style.cssText = `
            position: absolute;
            left: ${overlayValues.leftOffset * scale}px;
            top: ${overlayValues.topOffset * scale}px;
            width: ${overlayValues.width * scale}px;
            transform: rotate(${overlayValues.angle}deg);
          `
          // if (document.getElementById("maskon")) {
          //   document.getElementById("maskon").remove()
          // }
          var item = document.getElementById("maskdiv");
          item.appendChild(maskoverlay)
        }
      }

      const image = new Image();
      image.crossOrigin = "Anonymous";
      image.addEventListener("load", handleImage(inputImgEl, image));
      image.src = inputImgEl.src;

      // const canvas = $('#widget').get(0)
      // faceapi.matchDimensions(canvas, inputImgEl)
      // const resizedResults = faceapi.resizeResults(results, inputImgEl)
      //
      // if (withBoxes) {
      //   faceapi.draw.drawDetections(canvas, resizedResults)
      // }
      // faceapi.draw.drawFaceLandmarks(canvas, resizedResults)
    }

    async function run() {
      // load face detection and face landmark models
      await changeFaceDetector(SSD_MOBILENETV1)
      await faceapi.loadFaceLandmarkModel('/')
      await faceapi.nets.tinyFaceDetector.loadFromUri("/models"),
      await faceapi.nets.faceLandmark68TinyNet.loadFromUri("/models"),

      // start processing image
      updateResults()
    }

    $(document).ready(function() {
      renderNavBar('#navbar', 'mask_on_profile')
      initImageSelectionControls()
      initFaceDetectionControls()
      run()
    })
  </script>

  <script>
  const getOverlayValues = result => {
    landmarks = result.landmarks
    boundingbox = result.alignedRect._box

    const nose = landmarks.getNose()
    const jawline = landmarks.getJawOutline()

    const jawLeft = jawline[0]
    const jawRight = jawline.splice(-1)[0]
    const adjacent = jawRight.x - jawLeft.x
    const opposite = jawRight.y - jawLeft.y
    // const jawLength = Math.sqrt(Math.pow(adjacent, 2) + Math.pow(opposite, 2))
    const jawLength = boundingbox._width

    // Both of these work. The chat believes atan2 is better.
    // I don't know why. (It doesn’t break if we divide by zero.)
    // const angle = Math.round(Math.tan(opposite / adjacent) * 100)
    const angle = Math.atan2(opposite, adjacent) * (180 / Math.PI)
    const width = jawLength

    return {
      width,
      angle,
      leftOffset: nose[6].x - width/2 ,//jawLeft.x - jawLength*.09,
      topOffset: nose[0].y - width*.13,
    }
  }
  function clearmask() {
    const myNode = document.getElementById("maskdiv");
    while (myNode.lastElementChild) {
      myNode.removeChild(myNode.lastElementChild);
    }
  };

  function changemask(new_img_src) {
    const myNode = document.getElementById("maskdiv").children;
    for (var i = 0; i < myNode.length; i++) {
      var tableChild = myNode[i];
      // Do stuff
      tableChild.src = new_img_src;
    };
  };

  function sleep(milliseconds) {
    const date = Date.now();
    let currentDate = null;
    do {
      currentDate = Date.now();
    } while (currentDate - date < milliseconds);
  }

  function downloadmaskpic() {
    domtoimage.toJpeg(document.getElementById('widget'), { quality: 0.95 })
        .then(function (dataUrl) {
            var link = document.createElement('a');
            link.download = 'mask-on-profile.jpeg';
            link.href = dataUrl;
            link.click();
        });
  };

  </script>

</body>
</html>
